/* .card-deck {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
  }
  
  .card {
    width: 3.5rem;
    height: 7rem;
    border: 2px solid  #91c43b;
    border-radius: .5rem;
    padding: 1.25rem;
    margin: 0.62rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    color:  #91c43b;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card:hover {
    background-color: #92c43b67;
  }

  .selected {
    background-color: #91c43b;
    color: white;
  }
  
   */