/* .rules-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
} */

/* .title {
    color: #e6b313;
    font-weight: bold;
    font-size: 2rem;
} */
/* .description {
    display: flex;
    text-align: justify;
    margin-bottom: .5rem;
} */
/* .subtitle {
    color: #e6b313;
    font-weight: bold;
    font-size: 1.5rem;
} */
/* .rule-list{
    text-align: start;
} */
/* li {
    font-weight: bold;
} */
li::marker {
    color: #91c43b;
    font-weight: 500;
}
/* .warning-message {
    color: red;
    font-size: 1.2rem;
} */